/* src/pages/CartPage.css */

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 0.25rem;
}

.quantity-input {
    width: 70px;
}

.cart-table th, .cart-table td {
    vertical-align: middle;
}